<form action="../user/showHome.rails">
	<!-- see userHome.jsp-->
    <table border=0 cellspacing=15 cellpadding=0>
    <tr>
        <td valign=top>
        <table border=0 cellspacing=0 cellpadding=0>
            <tr>
            <td valign=top>
				<!-- Tasklist Box-->
				<table class=box border=0 cellspacing=1 width=100%>
					<tr>
						<th class=box width=100%>Personal Tasklist</th>
					</tr>
					<tr>
						<td class=box>
						<!-- START OF TABLE TaskList-->
						<table  class="table" width="100%"border="0" cellspacing="1" cellpadding="2">
							<tr class="tableHeaderRow">
								<th nowrap class="tableHeaderCell">Process name</td>
								<th nowrap class="tableHeaderCell">Activity name</td>
								<th nowrap class="tableHeaderCell">Perform activity</td>
								<th nowrap class="tableHeaderCell">Preview</td>
							</tr>
#if ($taskList)
	#foreach( $flow in $taskList )
							<tr class="tableRowEven">
								<td class="tableCell" nowrap>$flow.ProcessInstance.processDefinition.name</td>
								<td class="tableCell" nowrap>$flow.Node.Name</td>
								<td class="tableCell" align="center">
									<input type=button value="Perform Activity" onclick="location='../form/showActivityForm.rails?flowId=$flow.Id';">
								</td>
								<td class="tableCell" align="center">
									<input type=button value="Preview" onclick="location='../user/showHome.rails?preview=activity&flowId=$flow.Id';">
								</td>
							</tr>
	#end
#else
							<tr class="tableRowEven">
								<td class="tableCell" colspan="4" align="center">--- table is empty ---</td>
							</tr>
#end
						</table>						
						<!-- END OF TABLE TaskList-->
						</td>
					</tr>
				</table>
            </td>
            </tr>
            <tr>
            <td style="padding-top:15px;" valign=top>
				<!-- Process Box-->
				<table class=box border=0 cellspacing=1 width=100%>
					<tr>
						<th class=box width=100%>Start A Process</th>
					</tr>
					<tr>
						<td class=box>
						<!-- START OF TABLE Process-->
						<table  class="table" width="100%"border="0" cellspacing="1" cellpadding="2">
							<tr class="tableHeaderRow">
								<th nowrap class="tableHeaderCell">Process name</td>
								<th nowrap class="tableHeaderCell">Start a process</td>
								<th nowrap class="tableHeaderCell">Preview</td>
							</tr>
#if ($processDefinitions)
	#foreach( $definition in $processDefinitions )
							<tr class="tableRowEven">
								<td class="tableCell" nowrap>$definition.Name</td>
								<td class="tableCell" align="center">
									<input type=button value="Start" onclick="location='../form/startProcessInstance.rails?processDefinitionId=$definition.ProcessDefinition.Id';">
								</td>
								<td class="tableCell" align="center">
									<input type=button value="Preview" onclick="location='../user/showHome.rails?preview=process&processDefinitionId=$definition.ProcessDefinition.Id';">
								</td>
							</tr>
	#end
#else
							<tr class="tableRowEven">
								<td class="tableCell" colspan="3" align="center">--- table is empty ---</td>
							</tr>
#end
						</table>						
						<!-- END OF TABLE Process-->
						</td>
					</tr>
				</table>
            </td>
            </tr>
            <tr>
            <td style="padding-top:15px;" valign=top>
				<!-- GroupTasklist Box-->
				<table class=box border=0 cellspacing=1 width=100%>
					<tr>
						<th class=box width=100%>Group Tasklist</th>
					</tr>
					<tr>
						<td class=box>
						<!-- START OF TABLE GroupTasklist-->
						<table  class="table" width="100%"border="0" cellspacing="1" cellpadding="2">
							<tr class="tableHeaderRow">
								<th nowrap class="tableHeaderCell">Group name</td>
								<th nowrap class="tableHeaderCell">Process name</td>
								<th nowrap class="tableHeaderCell">Activity name</td>
								<th nowrap class="tableHeaderCell">Take</td>
								<th nowrap class="tableHeaderCell">Preview</td>
							</tr>
							<tr class="tableRowEven">
								<td class="tableCell" nowrap></td>
								<td class="tableCell" nowrap></td>
								<td class="tableCell" nowrap></td>
								<td class="tableCell" align="center"></td>
								<td class="tableCell" align="center"></td>
							</tr>
						</table>						
						<!-- END OF TABLE GroupTasklist-->
						</td>
					</tr>
				</table>
            </td>
            </tr>
        </table>
        </td>
        <td valign=top>
#if ($preview=='process' || $preview=='activity')
	<table border=0 cellspacing=0 cellpadding=0>
		<tr>
		<td valign=top>
			<table class=box border=0 cellspacing=1>
				<tr>
					<th class=box width=100%>Preview of a process</th>
				</tr>
				<tr>
				<td class=box>
	#parse( 'template/processActivityInfo.vm' )
	#set ( $imageHeight = $processDefinition.ImageHeight )
	#set ( $imageWidth = $processDefinition.ImageWidth )
	#if ($preview=='activity' && $imageWidth != 0 && $imageHeight != 0)
		#parse( 'template/processOverview.vm' )
	#else
					<img border=0 src="../image/processImage.rails?processDefinitionId=$processDefinition.Id">
	#end
				</td>
				</tr>
			</table>
		</td>
		</tr>
	</table>
#end
        </td>
    </tr>
    </table>
</form>
